---
import Default from "../layouts/Default.astro";
import CommentBox from "../components/Comments.astro";

const meta = {
    title: "Comments",
    description: "All the comments on this site so far",
    ogTitle: "Comments",
    ogDescription: "All the comments on this site so far",
    ogType: "website",
    ogUrl: "https://vinxis.moe",
    ogSiteName: "Comments",
    ogLocale: "en_US",
    ogImage: "https://vinxis.moe/metaImage.png",
    twitterCard: "summary_large_image",
    twitterTitle: "Comments",
    twitterDescription: "All the comments on this site so far",
    twitterImage: "https://vinxis.moe/metaImage.png",
};
---

<Default meta={meta}>
    <div class="page">
        <h1 style="text-align: center;">All comments in the site</h1>
        <CommentBox showForm={false} />
    </div>
</Default>