---
import TableOfContents from "../components/TableOfContents.astro";
import Default from "../layouts/Default.astro";
import { Content, getHeadings } from "./_useful.md";

const meta = {
    title: "Useful Content",
    ogTitle: "Useful Content",
    description: "A list of useful links and stuff for various purposes",
    ogDescription: "A list of useful links and stuff for various purposes",
    ogType: "website",
    ogUrl: "https://vinxis.moe",
    ogSiteName: "VINXIS",
    ogLocale: "en_US",
    ogImage: "https://vinxis.moe/metaImage.png",
    twitterCard: "summary_large_image",
    twitterTitle: "Useful Links",
    twitterDescription: "A list of useful links and stuff for various purposes",
    twitterImage: "https://vinxis.moe/metaImage.png",
};
---

<Default meta={meta}>
    <div class="page">
        <h1>
            Useful Content
        </h1>
        <TableOfContents headings={getHeadings()} />
        <Content />
    </div>
</Default>