<div class="latex4000Webring">
    <a href="https://nonacademic.net" title="Collective">L4K</a>
    <div class="latex4000WebringButtons">
        <a href="https://nonacademic.net/ring?action=prev&from=VINXIS" id="latex4000Prev" title="Previous">←</a>
        <a href="https://nonacademic.net/ring?action=rand&from=VINXIS" id="latex4000Random" title="Random">Random</a>
        <a href="https://nonacademic.net/ring?action=next&from=VINXIS" id="latex4000Next" title="Next">→</a>
    </div>
</div>

<style>
    .latex4000Webring {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 1rem;
    }
</style>