---
import Analytics from "@vercel/analytics/astro";

const { meta } = Astro.props;
---

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{meta.title}</title>
        <meta name="description" content=`Writing practice from ${new Date(meta.date).toLocaleString()}` />
        <meta name="theme-color" content="#FF6200" />
        <meta name="author" content="VINXIS" />
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/bitmaks/cm-web-fonts@latest/fonts.css">
        <link
            rel="alternate"
            type="application/rss+xml"
            title="VINXIS"
            href={new URL("rss.xml", Astro.site)}
        />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="VINXIS - Blog"
            href={new URL("rss_blog.xml", Astro.site)}
        />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="VINXIS - Notes"
            href={new URL("rss_notes.xml", Astro.site)}
        />
        <link
            rel="alternate"
            type="application/rss+xml"
            title="VINXIS - Posts"
            href={new URL("rss_posts.xml", Astro.site)}
        />
        <link href='https://fonts.googleapis.com/css?family=Inconsolata' rel='stylesheet'>
        <Analytics />
    </head>
    <body>
        <main>
            <slot />
        </main>
    </body>
</html>

<style>
    body {
        font-family: "Inconsolata", monospace;
        background: black;
        color: white;
        margin: 40px;
        line-height: 1.5;
    }

    :global(a) {
        text-decoration: none;
        text-decoration-color: transparent;
        color: #009aff;
    }

    :global(a:hover) {
        text-decoration: underline;
        text-decoration-color: initial;
    }

    :global(code) {
        font-family: "Inconsolata", monospace;
        padding: 2px 4px;
        border-radius: 4px;
    }

</style>